.container {
    width: 300px;
    height: 450px;
    background-color: red;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    border-radius: 30px;
}
.group{
    width: 200px;
    height: 321px;
    background-color: red;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}